@model IEnumerable<WebApplDay9.Models.Contry>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.ContryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-contryid="@item.ContryId">Edit</a> |
                    <a asp-action="Details" asp-route-contryid="@item.ContryId">Details</a> |
                    <a asp-action="Delete" asp-route-contryid="@item.ContryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
